# 크롤링한 데이터와 dacon 데이터 합병
 - 총 78474개 데이터

In [ ]:
import pandas as pd
import os

In [ ]:
# 데이터를 저장할 위치로 이동
% cd /content/drive/MyDrive/semi-projet/data

/content/drive/MyDrive/semi-projet/data

In [ ]:
# 합칠 파일들 리스트 확인
file_list = os.listdir("./")
file_list

['경제_20220101_20220131.csv',
 '사회_20220101_20220131.csv',
 '생활문화_20220101_20220131.csv',
 '세계_20220101_20220131.csv',
 'IT과학_20220101_20220131.csv',
 '정치_20220101_20220131.csv',
 '스포츠_20220101_20220131.csv',
 'news_topic',
 'train.csv',
 'temp',
 '경제_20220301_20220331.csv',
 '사회_20220301_20220331.csv',
 '생활문화_20220301_20220331.csv',
 '세계_20220301_20220331.csv',
 'IT과학_20220301_20220331.csv',
 '정치_20220301_20220331.csv',
 '스포츠_20220301_20220331.csv',
 'news_사회_20220201_20220228.csv',
 'news_생활문화_20220201_20220228.csv',
 'news_정치_20220201_20220228.csv',
 'news_IT과학_20220201_20220228.csv',
 'news_스포츠_20220201_20220228.csv',
 'news_세계_20220201_20220228.csv',
 'news_경제_20220201_20220228.csv']

In [ ]:
!pwd

/content/drive/MyDrive/semi-projet/data

In [ ]:
PATH ='/content/drive/MyDrive/semi-projet/data'
dacon_df = pd.read_csv(PATH + '/news_topic/train_data.csv')
dacon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45654 entries, 0 to 45653
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      45654 non-null  int64
 1   title      45654 non-null  object
 2   topic_idx  45654 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.0+ MB

In [ ]:
dacon_df.head()

   index                             title  topic_idx
0      0          인천→핀란드 항공기 결항…휴가철 여행객 분통          4
1      1    실리콘밸리 넘어서겠다…구글 15조원 들여 美전역 거점화          4
2      2    이란 외무 긴장완화 해결책은 미국이 경제전쟁 멈추는 것          4
3      3  NYT 클린턴 측근韓기업 특수관계 조명…공과 사 맞물려종합          4
4      4         시진핑 트럼프에 중미 무역협상 조속 타결 희망          4

In [ ]:
no_file_list = ['news_topic', 'train.csv', 'temp']
for f in file_list:
    if f not in no_file_list:
        crawling_df = pd.read_csv(f)
        print(f'{f}:', len(crawling_df))
        dacon_df = pd.concat([dacon_df, crawling_df])
dacon_df.info()

경제_20220101_20220131.csv: 4498
사회_20220101_20220131.csv: 5434
생활문화_20220101_20220131.csv: 6674
세계_20220101_20220131.csv: 2960
IT과학_20220101_20220131.csv: 4688
정치_20220101_20220131.csv: 3552
스포츠_20220101_20220131.csv: 4946
경제_20220301_20220331.csv: 4413
사회_20220301_20220331.csv: 5495
생활문화_20220301_20220331.csv: 6684
세계_20220301_20220331.csv: 2956
IT과학_20220301_20220331.csv: 4737
정치_20220301_20220331.csv: 3575
스포츠_20220301_20220331.csv: 4960
news_사회_20220201_20220228.csv: 4898
news_생활문화_20220201_20220228.csv: 6046
news_정치_20220201_20220228.csv: 3211
news_IT과학_20220201_20220228.csv: 4262
news_스포츠_20220201_20220228.csv: 4454
news_세계_20220201_20220228.csv: 2682
news_경제_20220201_20220228.csv: 3994
<class 'pandas.core.frame.DataFrame'>
Int64Index: 140773 entries, 0 to 3993
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       45654 non-null   float64
 1   title       140773 non-null  object
 2   topic_idx   140773 non-null  int64
 3   Unnamed: 0  95119 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB

In [ ]:
dacon_df.head()

   index                             title  topic_idx  Unnamed: 0
0    0.0          인천→핀란드 항공기 결항…휴가철 여행객 분통          4         NaN
1    1.0    실리콘밸리 넘어서겠다…구글 15조원 들여 美전역 거점화          4         NaN
2    2.0    이란 외무 긴장완화 해결책은 미국이 경제전쟁 멈추는 것          4         NaN
3    3.0  NYT 클린턴 측근韓기업 특수관계 조명…공과 사 맞물려종합          4         NaN
4    4.0         시진핑 트럼프에 중미 무역협상 조속 타결 희망          4         NaN

In [ ]:
dacon_df.drop(['index', 'Unnamed: 0'], axis=1, inplace=True)
dacon_df.head()

                              title  topic_idx
0          인천→핀란드 항공기 결항…휴가철 여행객 분통          4
1    실리콘밸리 넘어서겠다…구글 15조원 들여 美전역 거점화          4
2    이란 외무 긴장완화 해결책은 미국이 경제전쟁 멈추는 것          4
3  NYT 클린턴 측근韓기업 특수관계 조명…공과 사 맞물려종합          4
4         시진핑 트럼프에 중미 무역협상 조속 타결 희망          4

In [ ]:
# Data 셔플
df_shuffled=dacon_df.sample(frac=1).reset_index(drop=True)
df_shuffled

                                  title  topic_idx
0                       이상택 매일신문사 신임 사장          2
1            日 후쿠시마 원전 폐로 작업에 외국인력 활용한다          4
2                 현대차, ‘부울경’ 수소버스 보급 확대          3
3          국조특위 오늘 서울구치소 방문…최순실은 불출석 의사          6
4           통일부 통일교육 선도대학 공모…4∼5곳 지정 예정          2
...                                 ...        ...
140768  이재명 "'누구나집'으로 내집 마련 꿈 실현해 드릴 것"          6
140769          靑 반기문 대선 출마 시사 발언에 말 아껴          6
140770      사이영상 투표한 미국 기자 류현진 수상 자격 있어          5
140771   이스라엘, 코로나19 확진자 격리기간 10일→7일 단축          4
140772    독도로 출발하기 전 기념촬영 하는 독도아카데미 대학생          3

[140773 rows x 2 columns]

In [ ]:
# PATH에 train.csv로 저장
df_shuffled.to_csv(PATH + '/train.csv')